*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* font-size: 14px; */
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border,
  .border-r,
  .border-l,
  .border-t,
  .border-b,
  .border-x,
  .border-y {
    @apply dark:border-slate-700;
    @apply border-blue-400/30;
  }

  input[type='number'] {
    appearance: textfield;
  }

  input[type='number']:focus,
  input[type='number']:hover {
    appearance: auto;
  }
}
